@import './layout/_base.scss';
@import './layout/_normalise.scss';


.header {
    background: url(../img/header-bg.jpg) no-repeat center / cover;
    padding-top: 57px;
    a {
        color: #fff;
    }
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
    letter-spacing: 0.1em;
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        &-ss{
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 215px;
}


.offer {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 44px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 322px;
        &__name {
            font-size: 100px;
            line-height: 147px;
            margin: 0;
            margin-bottom: 20px;
        }

        &__but {
            display: block;
            background: none;
            padding: 16px 50px;
            border: 1px solid #fff;
            a {
                text-decoration: none;
                font-size: 17px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }
}
button {
    font-size: 17px;
}

.about {
    margin-top: 115px;
    margin-bottom: 114px;
    &__text {
        font-size: 50px;
        line-height: 73px;
        text-transform: uppercase;
        margin-bottom: 58px;
    }

    &__news {
        display: flex;
        &-item {
            flex: 1 0 45%;
            padding-right: 36px;
            h3 {
                font-size: 25px;
                text-transform: uppercase;
                line-height: 37px;
                padding-bottom: 19px;
            }
            p {
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                line-height: 26px;
                text-align: justify;
            }

            &:last-child {
                padding-right: 0;
            }
            padding-bottom: 67px;
        }
    }

    &__img {
        display: flex;
        &-item {
            padding-right: 30px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
    span {
        padding-right: 55px;
        &:last-child {
            padding-right: 0;
        }
    }
}
.menu-open {
    display: none;
}

.header .show-menu {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 50%;
    padding: 40px 20px 20px 40px;

    li {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .menu-open {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .about {
        &__img {
            &-item {
                img {
                    width: 100%;
                }
            }
        }
    }
    .menu-open {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .tel {
        margin-left: 100px;
    }

    .about__news-item {
        padding-right: 25px;
        p {
            font-size: 16px;
        }
    }

    .about__img-item {
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .menu {
        display: none;
    }

    .menu-open {
        display: block;
        background-color: initial;
        border: 0;
        margin-left: 20px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    
    .header {
        padding-top: 20px;
    }

    .menu {
        display: none;
    }

    .nav {
        margin-bottom: 60px;
        justify-content: space-between;
    }

    .offer {
        line-height: 50px;
        font-size: 20px;
        padding-bottom: 100px;
        &__name {
            line-height: 50px;
            font-size: 60px;
        }

        &__but {
            font-size: 14px;
        }
    }

    .about {
        margin-top: 30px;
        &__text {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &__news {
            flex-direction: column;
            &-item {
                padding: 0;

                h3 {
                    font-size: 21px;
                    padding-bottom: 0;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &__img {
            flex-direction: column;
            width: 100%;
            &-item {
                padding-bottom: 10px;
                width: 100%;
                padding-right: 0;
            }
        }
    }
    .menu-open {
        display: block;
        background-color: initial;
        border: 0;
        margin-left: 0px;
    }
    .tel {
        margin-left: 0;
    }
}