@import './layout/_base.scss';
@import './layout/_normalise.scss';


.header {
    background: url(../img/header-bg.jpg) no-repeat center top / cover;
    padding-top: 57px;
    a {
        color: #fff;
    }
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
    letter-spacing: 0.1em;
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        &-ss{
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    align-items: center;
    
}